

<form class="example-form">
  <div>
    <h1 class="loginn">LOGIN</h1><br>

    <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="UserName" [value]="userN" (focus)="onInputFocus()">
    </mat-form-field>
    <br><br>
     <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Password" value="Ingresar Password">
      </mat-form-field>
    <br>

    <div class="button-row">
       <button mat-button color="primary"  (click)="onClickMe()" 
        >Send</button>
    </div>
  </div>
</form>



